@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* criando variáveis */
:root {
  --black: black;
  --white: white;

  --border-white: white;
}

/* resetando os estilos padrões do navegador */
* {
  /* espaçamento externo e interno zerados */
  margin: 0;
  padding: 0;

  /* desabilitar borda padrão nos elementos */
  box-sizing: border-box;

  /* espaçamento entre as letras de uma frase */
  letter-spacing: 0;

  overflow: auto;
  scroll-behavior: smooth;
  /* suave */

  /* evitar serrilhamento da fonte */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Noto Sans", sans-serif;
  height: 100vh;

  /* utilizando variáveis para o fundo e a fonte */
  background-color: var(--black);
  color: var(--white);
}

header {
  /* tornando os filhos de header flexíveis (um ao lado do outro) */
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 2.25rem;

  position: sticky;
  top: 0;
  z-index: 10000;

  border-bottom: 1px var(--border-white) solid;
}

header > .branding {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* espaçamento interno entre os elementos */

  /* altura: tamanho da logotipo */
  img {
    height: 52px;
  }

  h1 {
    font-weight: 100;
  }
}

header > nav {
  height: 100%;
  display: flex;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 0.64rem;

  ul {
    display: flex;
    gap: 1rem;

    padding: 0.52rem;
    list-style: none;

    li > a {
      font-weight: 200;
      text-decoration: none;
      color: var(--white);
    }

    li > a:hover {
      text-decoration: underline;
      color: rgb(187, 187, 187)
    }
  }

  button {
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--border-white);
    padding: 1rem;
  }

  button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
}

#background {
  display: flex;
  height: calc(100vh - 90px);

  background-image: linear-gradient(rgba(68, 68, 68, 0.3), rgb(0, 0, 0)), url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
  padding: 0px 8rem;
}

main {
  display: flex;
  flex-direction: column;

  gap: 4rem;

  padding: 1rem;
  width: 916px;
}

main > div {
  display: flex;
  flex-direction: column;

  gap: 1.4rem;
  
  h1 {
    letter-spacing: 0.2em;
    font-size: 52px;
    font-weight: 100;
  }

  p {
    font-weight: 700;
    width: 20rem;

    span {
      font-weight: 100;
    }
  }
}

main > a {
  width: 14rem;
  text-align: center;
  padding: 0.52rem 0.28rem;
  color: white;
  transition: 1s;

  text-decoration: none;
  background-color: var(--black);
  border-radius: 1rem;
  border: 1px solid white;
}

main > a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

#port {
  height: calc(100vh - 90px);
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: 0;
  overflow: hidden; 
}

.container-feedback {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;

  h1 { 
    font-weight: 400;
    font-size: 1.5rem;  
    color: var(--white);  
    letter-spacing: 1px;  
    text-transform: uppercase;  
    
    text-align: center;
    /* text-decoration: underline; */
  }

  article {
    /* padding: 2rem; */

    border: 1px solid white;
    border-radius: 1rem;
  }
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  /* overflow: hidden; */
  z-index: 1000;
}

.banner {
  /* background-image: linear-gradient(rgba(68, 68, 68, 0.3), rgb(0, 0, 0)), url(assets/feedback/img1.png); */
  height: 312px;
  background-size: cover;
  border-bottom: 2px solid var(--white);
}

.profile {
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 92px; 
  height: 92px;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.my-opinion {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  /* max-width: 260px;  */
  /* max-height: 360px;  */
  /* padding: 0 2rem; */

  /* gap: 1rem; */
  justify-content: center;
  text-align: center;

  z-index: 0;

  h2 {
    font-weight: 300;  
    font-size: 1.5rem;  
    color: var(--white);  
    letter-spacing: 1px;  
    margin-bottom: 0.5rem;  
    text-transform: uppercase;  
  }
  
  p {
    padding: 0.25rem;
    font-weight: 200;  
    font-size: 1rem;  
    color: var(--white);  
    line-height: 1.6;  
    max-width: 438px;
    
    margin: 0 auto;  
  }
}

#group {
  background-color: rgb(0, 255, 34);
  height: calc(100vh - 90px);
}

#about {
  background-color: rgb(255, 255, 0);
  height: calc(100vh - 90px);
}

#feedback {
  background-color: rgb(204, 0, 255);
  height: calc(100vh - 90px);
}

#contact {
  background-color: rgb(17, 0, 255);
  height: calc(100vh - 90px);
}