@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* criando variáveis */
:root {
  --black: black;
  --white: white;

  --border-white: white;
}

/* resetando os estilos padrões do navegador */
* {
  /* espaçamento externo e interno zerados */
  margin: 0;
  padding: 0;

  /* desabilitar borda padrão nos elementos */
  box-sizing: border-box;

  /* espaçamento entre as letras de uma frase */
  letter-spacing: 0;

  overflow: auto;
  scroll-behavior: smooth;
  /* suave */

  /* evitar serrilhamento da fonte */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Noto Sans", sans-serif;
  height: 100vh;

  /* utilizando variáveis para o fundo e a fonte */
  background-color: var(--black);
  color: var(--white);
}

header {
  /* tornando os filhos de header flexíveis (um ao lado do outro) */
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 2.25rem;

  position: sticky;
  top: 0;
  z-index: 1000;

  border-bottom: 1px var(--border-white) solid;
}

header > .branding {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* espaçamento interno entre os elementos */

  /* altura: tamanho da logotipo */
  img {
    height: 52px;
  }

  h1 {
    font-weight: 100;
  }
}

header > nav {
  height: 100%;
  display: flex;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 0.64rem;

  ul {
    display: flex;
    gap: 1rem;

    padding: 0.52rem;
    list-style: none;

    li > a {
      font-weight: 200;
      text-decoration: none;
      color: var(--white);
    }

    li > a:hover {
      text-decoration: underline;
      color: rgb(187, 187, 187)
    }
  }

  button {
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--border-white);
    padding: 1rem;
  }

  button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
}

#background {
  display: flex;
  height: calc(100vh - 90px);

  background-image: linear-gradient(rgba(68, 68, 68, 0.3), rgb(0, 0, 0)), url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
  padding: 0px 8rem;
}

main {
  display: flex;
  flex-direction: column;

  gap: 4rem;

  padding: 1rem;
  width: 916px;
}

main > div {
  display: flex;
  flex-direction: column;

  gap: 1.4rem;
  
  h1 {
    letter-spacing: 0.2em;
    font-size: 52px;
    font-weight: 100;
  }

  p {
    font-weight: 700;
    width: 20rem;

    span {
      font-weight: 100;
    }
  }
}

main > a {
  width: 14rem;
  text-align: center;
  padding: 0.52rem 0.28rem;

  background-color: var(--black);
  border-radius: 1rem;
  border: 1px solid white;
}

#port {
  /* background-color: red; */
  height: calc(100vh - 90px);
  text-align: center;
 
}

h1 {
  font-size: 44px;
  font-weight: 200;
  
  
}

p{
  width: 900px;
}

.port {
  align-items: center;
}

.port > .port-position {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5rem; /* 1rem - 16px */
  /* flex-direction: column; */
}

.port-button {
  height: 48px;
  width: 34px;

  border: 2px solid rgb(187, 187, 187);
  border-radius: 1rem;
}

.arrow_left {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  width: 100px;
  height: 100px;
}

.cards {
  display: flex;
  justify-content: center;
  height: 560px;
  width: 1040px;
  gap: 22px;
  

  img {
    /* height: 100%; */
    overflow: hidden;
    border:2px solid white;
    border-radius: 52px;
  }
}


#group {
  background-color: rgb(0, 255, 34);
  height: calc(100vh - 90px);
}

#about {
  background-color: rgb(0, 0, 0);
  height: calc(100vh - 90px);
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 30rem;

  justify-content:center;
  justify-content: space-around;
  align-items: center;



  H3{
    font-size: 44px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
    padding: 20px;
  }
  video {
    border: 2px solid white;
    display: flex;
    border-radius: 52px;
    height: 700px;
    width: 550px;
  }

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  overflow: hidden;

h2{
  font-size: 44px;
  font-weight: 200;
 }

p{

  height: 710px;
  width: 570px;
  width: 550px;
  font-weight: 200;
  font-size: 24px;
  padding: 2rem;
  height: 100;
}

H1 {
  padding: 2rem;
  
}
}
}
#feedback {
  background-color: rgb(204, 0, 255);
  height: calc(100vh - 90px);
}

#contact {
  background-color: rgb(17, 0, 255);
  height: calc(100vh - 90px);
}



