@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* criando variáveis */
:root {
  --black: black;
  --white: white;

  --border-white: white;
}

/* resetando os estilos padrões do navegador */
* {
  box-sizing: border-box; /* desabilitar borda padrão nos elementos */

  /* espaçamento externo e interno zerados */
  margin: 0;
  padding: 0;
  
  /* evitar serrilhamento da fonte */
  scroll-behavior: smooth; /* suave */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* utilizando variáveis para o fundo e a fonte */
  background-color: var(--black);
  color: var(--white);

  /* definindo fonte */
  font-family: "Noto Sans", sans-serif;
}

header {
  /* tornando os filhos de header flexíveis (um ao lado do outro) */
  display: flex;

  justify-content: space-between;
  align-items: center;

  /* altura do header */
  height: 5.60rem;

  /* espaçamento interno do header */
  padding: 0 2.25rem;

  /* deixar header fixo no topo */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  /* prioridade sobre qualquer outro elemento */
  z-index: 999;

  border-bottom: 1px var(--border-white) solid;
  background: linear-gradient(to right, #000, #262626 30%, #000);

}

header > .branding {
  display: flex;

  align-items: center;
  gap: 1rem; /* espaçamento interno entre logo e título */

  /* altura: tamanho da logotipo */
  img {
    height: 3.25rem;
  }

  h1 {
    cursor: default;
    font-weight: 100;
  }
}

header > nav {
  display: flex;

  justify-content: center;
  align-items: center;
  
  gap: 0.875rem; /* espaçamento entre links e button */
  padding: 0px 1rem; /* espaço interno na direita e esquerda para todos os elementos */
  
  ul {
    display: flex;

    gap: 0.875rem;
    padding: 0.52rem;

    /* remover bolinha dos links */
    list-style: none;

    /* estilizando título links */
    li > a {
      font-weight: 200;
      text-decoration: none;
      
      transition: 1s;
      color: var(--white);
    }

    /* estilizando quando mouse estive em cima */
    li > a:hover {
      text-decoration: underline;
      color: rgb(187, 187, 187)
    }
  }

  button {
    padding: 1rem;

    font-size: 1.125rem;
    border-radius: 8px;

    transition: 1s;
    
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--border-white);
  }

  button:hover {
    cursor: pointer; /* mudar cursor do mouse quando estiver em cima */

    background-color: white;
    color: black;
  }
}

#hero-section {
  display: flex;
  
  align-items: center;

  height: calc(100vh - 5.60rem);
  padding: 0px 8rem; /* margem de conteúdo: 128px */

  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(68, 68, 68, 0.3), rgb(0, 0, 0)), url("assets/background.png");
}

main {
  display: flex;
  flex-direction: column;

  /* limitando a largura do conteúdo principal */
  width: 916px;

  gap: 4rem;
  padding: 1rem;
  
}

main > .hero-content {
  display: flex;
  flex-direction: column;

  gap: 1.4rem;

  /* sombra para os textos */
  text-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.7); 

  h1 {
    font-weight: 100;
    font-size: 3.25rem;

    letter-spacing: 0.2em;
  }

  p {
    font-weight: 700;

    width: 24rem;

    /* estilo ao nome do autor da frase */
    span {
      font-weight: 100;
    }
  }
}

.hero-content > .quote {
  display: flex; 

  align-items: center; 

  gap: 1.2rem;
}

.hero-content .row {
  display: block;

  height: 2.15rem; 
  width: 0.32rem; 
  
  background-color: white; 
   
  border-radius: 2px;
}

main > a {
  text-align: center;

  width: 14rem;
  padding: 0.52rem 0.28rem;
  
  text-decoration: none;

  transition: 1s;

  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: var(--black);
}

main > a:hover {
  cursor: pointer;
  
  color: black;
  background-color: white;
}

#port-section {
  display: flex;
  /* justify-content: center; */
  
  align-items: center;

  width: 100%;
  height: calc(100vh - 5.60rem);
  /* padding: 0px 8rem;  */
  /* margem de conteúdo: 128px */
}

.port {
  position: relative;

  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  align-items: center;
  text-align: center;

  width: 100%;
        
  padding: 2rem;
  gap: 2rem;

  z-index: 1;

  h1 {
    font-weight: 100;
    font-size: 3.25rem;
    
    letter-spacing: 0.1em;       
    text-transform: uppercase;  
    
    text-align: center;
    /* text-decoration: underline; */

    color: var(--white);  
  }

  p {
    font-weight: 100;
    font-size: 0.80rem;
    
    letter-spacing: 0.1em; 
    width: 900px;

    color: var(--white);
  }
}

.port > .carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 100%;
  padding: 0 8rem;
  
  gap: 5rem; /* 1rem - 16px */
  /* flex-direction: column; */
}

.port-button {
  height: 48px;
  width: 34px;

  border: 2px solid rgb(187, 187, 187);
  border-radius: 1rem;

  cursor: pointer;
  transition: 1s;
}

.port-button:hover {
  background-color: var(--black);
  color: var(--white);

  border: 2px solid var(--white);
}

/* .arrow_left {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  width: 100px;
  height: 100px;
} */

.cards {
  display: flex;
  justify-content: center;

  min-width: 260px;
  max-width: 960px;
  gap: 1.2rem;

  img {
    /* height: 100%; */
    width: 360px;
    overflow: hidden;
    
    border:2px solid white;
    border-radius: 52px;

    z-index: 1;
  }
}

#feedback {
  display: flex;
  /* justify-content: center; */
  
  align-items: center;

  width: 100%;
  height: calc(100vh - 5.60rem);
  /* padding: 0px 8rem;  */
  /* margem de conteúdo: 128px */
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* z-index: 0; */
  overflow: hidden; 
}

.container-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 100%;

  gap: 2rem;

  h1 { 
    font-weight: 100;
    font-size: 3.25rem;
    letter-spacing: 0.1em;
     
    color: var(--white);    
    text-transform: uppercase;  
    
    text-align: center;
    /* text-decoration: underline; */
  }

  article {
    /* padding: 2rem; */

    border: 1px solid white;
    border-radius: 1rem;
  }
}

.list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 2rem;
  
  height: 100%;
  padding: 0 8rem;
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  /* overflow: hidden; */
  /* z-index: 1000; */

  article {
    z-index: 1;
  }
}

.banner {
  /* background-image: linear-gradient(rgba(68, 68, 68, 0.3), rgb(0, 0, 0)), url(assets/feedback/img1.png); */
  height: 10rem;

  border-radius: 1rem;
  background-size: cover;
  border-bottom: 2px solid var(--white);
}

.profile {
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 92px; 
  height: 92px;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  /* max-width: 260px;  */
  /* max-height: 360px;  */
  /* padding: 0 2rem; */

  /* gap: 1rem; */
  justify-content: center;
  text-align: center;

  z-index: 0;

  h2 {
    font-weight: 300;  
    font-size: 1.4rem;  
    
    letter-spacing: 1px;  

    /* margin-bottom: 0.5rem;   */
    /* text-transform: uppercase;   */

    color: var(--white);  
  }
  
  p {
    font-size: 0.80rem;
    font-weight: 100;
    
    letter-spacing: 0.1em; 
    padding: 0.25rem;
    
    /* margin: 0 auto;   */
    color: var(--white);  
  }
}

/* #group {
  background-color: rgb(0, 255, 34);
  height: calc(100vh - 5.60rem);
  
  z-index: 0;
} */

/* #about {
  background-color: rgb(255, 255, 0);
  height: calc(100vh - 5.60rem);
} */

/* #feedback {
  background-color: rgb(204, 0, 255);
  height: calc(100vh - 5.60rem);
} */

/* #contact {
  background-color: rgb(17, 0, 255);
  height: calc(100vh - 5.60rem);
} */